{% extends 'e_base.html' %}
{% block title %}
    管理中心
{% endblock %}
{% block head %}
    <style>

        .content {
            min-height: 600px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .nav-left {
            float: left;
            width: 20%;
            background-color: rgb(50, 120, 180);
            min-height: inherit;

        }

        .nav-right {

            float: right;
            width: 80%;
            min-height: 620px;

        }

        .list-group {
            margin: 10px;
            padding-top: 20px;

        }

        .list-group-item {
            background-color: rgb(50, 120, 180);
            color: white;
            text-align: left;
            font-size: 20px;
        }

        .press {
            background-color: white;
            color: rgb(50, 120, 180);
        }

        iframe {
            width: 110%;
            height: 620px;
            border: 0px;
        }

        a:link {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        #err_msg {
            color: red;
            font-size: 20px;
        }

        #newsDetail .modal-content {
            overflow: hidden;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="content container">
        <div class="nav-left">
            <ul class="list-group">
                <a href="#">
                    <li class="list-group-item" id="left-nav1" onclick="m_course()">课程管理</li>
                </a>
                <a href="#">
                    <li class="list-group-item" id="left-nav2" onclick="m_news()">消息管理</li>
                </a>
                <a href="#">
                    <li class="list-group-item" id="left-nav3" onclick="m_teacher()">教师管理</li>
                </a>
                <a href="#">
                    <li class="list-group-item" id="left-nav4" onclick="m_student()">学生管理</li>
                </a>
            </ul>
        </div>
        <div class="nav-right">
            <iframe src="/m_course">
            </iframe>
        </div>
    </div>


    <div class="modal fade" id="courseDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">课程详情</h3>
                </div>
                <div class="modal-body">

                    <div class="form-group">


                        <p>
                            <span>课程号</span>
                            <input class="form-control" type="text" disabled name="course_no">
                        </p>
                        <p>
                        <p>
                            <span>课程名</span>
                            <input class="form-control" type="text" disabled name="course_name">
                        </p>
                        <p>
                        <p>
                            <span>课程发布时间</span>
                            <input class="form-control" type="text" disabled name="course_ctime">
                        </p>
                        <p>
                        <p>
                            <span>学分</span>
                            <input class="form-control" type="text" disabled name="course_credit">
                        </p>
                        <p>
                        <p>
                            <span>课程简介</span>
                            <input class="form-control" type="text" disabled name="course_desc">
                        </p>
                        <p>
                            <span>发布者</span>
                            <input class="form-control" type="text" disabled name="course_starter">

                        </p>
                        <p>
                            <span>授课学院</span>
                            <input class="form-control" type="text" disabled name="course_college">

                        </p>
                        <p>
                            <span>任课教师</span>
                            <input class="form-control" type="text" disabled name="teacher">

                        </p>
                        <p>
                            <span>课程类型</span>
                            <input class="form-control" type="text" disabled name="course_type">

                        </p>
                        <p>
                            <span>上课地点</span>
                            <input class="form-control" type="text" disabled name="classroom">

                        </p>
                        <p>
                            <span>上课时间</span>
                            <input class="form-control" type="text" disabled name="course_week">

                        </p>

                        <p>
                            <span>审批者</span>
                            <input class="form-control" type="text" disabled name="approver">

                        </p>
                        <p>
                            <span>课程名额</span>
                            <input class="form-control" type="text" disabled name="course_total_people">

                        </p>
                        <p>
                            <span>课程已选人数</span>
                            <input class="form-control" type="text" disabled name="course_choosed_student">

                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newsDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body content">
                    </div>
                    <div class="panel-footer">
                        <small id="created_by"></small>
                        <small id="ctime"></small>
                        <small id="modify_by"></small>
                        <small id="mtime"></small>
                        <small id="watcher"></small>
                    </div>
                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="courseDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">

            <div class="alert alert-danger alert-dismissible fade in" role="alert">

                <h4>确定要删除所选课程吗？</h4>
                <p></p>
                <p>
                    <button type="button" class="btn btn-danger" onclick="delCourse()">删除&nbsp;<i class="fa fa-trash-o"
                                                                                                  aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" onclick="cancelCourse()">取消&nbsp;<i
                            class="fa fa-times fa-lg" aria-hidden="true"></i></button>
                </p>
            </div>


        </div>
    </div>

    <div class="modal fade" id="newsDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">

            <div class="alert alert-danger alert-dismissible fade in" role="alert">

                <h4>确定要删除所选通知吗？</h4>
                <p></p>
                <p>
                    <button type="button" class="btn btn-danger" onclick="delNews()">删除&nbsp;<i class="fa fa-trash-o"
                                                                                                aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" onclick="cancelNews()">取消&nbsp;<i
                            class="fa fa-times fa-lg" aria-hidden="true"></i></button>
                </p>
            </div>


        </div>
    </div>

    <div class="modal fade" id="teacherDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">教师详情</h3>
                </div>
                <div class="modal-body">

                    <div class="form-group">


                        <p>
                            <span>姓名</span>
                            <input class="form-control" type="text" disabled name="name">
                        </p>

                        <p>
                            <span>工号</span>
                            <input class="form-control" type="text" disabled name="username">
                        </p>

                        <p>
                            <span>性别</span>
                            <input class="form-control" type="text" disabled name="gender">
                        </p>

                        <p>
                            <span>所属学院</span>
                            <input class="form-control" type="text" disabled name="college">
                        </p>

                        <p>
                            <span>职位</span>
                            <input class="form-control" type="text" disabled name="place">
                        </p>
                        <p>
                            <span>籍贯</span>
                            <input class="form-control" type="text" disabled name="prov">
                        </p>
                        <p>
                            <span>身份证号</span>
                            <input class="form-control" type="text" disabled name="card">
                        </p>
                        <p>
                            <span>民族</span>
                            <input class="form-control" type="text" disabled name="nation">
                        </p>

                        <p>
                            <span>电子邮箱</span>
                            <input class="form-control" type="text" disabled name="email">
                        </p>
                        <p>
                            <span>电话</span>
                            <input class="form-control" type="text" disabled name="telephone">

                        </p>
                        <p>
                            <span>生日</span>
                            <input class="form-control" type="text" disabled name="birth">

                        </p>
                        <p>
                            <span>QQ</span>
                            <input class="form-control" type="text" disabled name="QQ">

                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="studentDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">学生详情</h3>
                </div>
                <div class="modal-body">

                    <div class="form-group">


                        <p>
                            <span>姓名</span>
                            <input class="form-control" type="text" disabled name="name">
                        </p>

                        <p>
                            <span>学号</span>
                            <input class="form-control" type="text" disabled name="username">
                        </p>

                        <p>
                            <span>性别</span>
                            <input class="form-control" type="text" disabled name="gender">
                        </p>

                        <p>
                            <span>所属学院</span>
                            <input class="form-control" type="text" disabled name="college">
                        </p>

                        <p>
                            <span>年纪</span>
                            <input class="form-control" type="text" disabled name="grade">
                        </p>
                        <p>
                            <span>籍贯</span>
                            <input class="form-control" type="text" disabled name="prov">
                        </p>
                        <p>
                            <span>身份证号</span>
                            <input class="form-control" type="text" disabled name="card">
                        </p>
                        <p>
                            <span>民族</span>
                            <input class="form-control" type="text" disabled name="nation">
                        </p>

                        <p>
                            <span>电子邮箱</span>
                            <input class="form-control" type="text" disabled name="email">
                        </p>
                        <p>
                            <span>电话</span>
                            <input class="form-control" type="text" disabled name="telephone">

                        </p>
                        <p>
                            <span>生日</span>
                            <input class="form-control" type="text" disabled name="birth">

                        </p>
                        <p>
                            <span>QQ</span>
                            <input class="form-control" type="text" disabled name="QQ">

                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editTeacher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">修改教师资料</h3>
                </div>
                <div class="modal-body">
                    <form action="editTeacher" method="post" id="edit-fm">
                        <div class="form-group">

                            {% csrf_token %}
                            <p>
                                <span>姓名</span>
                                {{ tfm.name }}
                            <p>
                                <small id="err_name"></small>
                            </p>
                            </p>

                            <p>

                                <span>工号</span>
                                {{ tfm.username }}
                            <p>
                                <small id="err_username"></small>
                            </p>
                            </p>

                            <p>
                                <span>性别</span>
                                {{ tfm.gender }}
                            <p>
                                <small id="err_gender"></small>
                            </p>
                            </p>

                            <p>
                                <span>所属学院</span>
                                {{ tfm.college }}
                            <p>
                                <small id="err_college"></small>
                            </p>
                            </p>

                            <p>
                                <span>职位</span>
                                {{ tfm.place }}
                            <p>
                                <small id="err_place"></small>
                            </p>
                            </p>
                            <p>
                                <span>籍贯</span>
                                {{ tfm.province }}
                            <p>
                                <small id="err_province"></small>
                            </p>
                            </p>
                            <p>
                                <span>身份证号</span>
                                {{ tfm.card_id }}
                            <p>
                                <small id="err_card_id"></small>
                            </p>
                            </p>
                            <p>
                                <span>民族</span>
                                {{ tfm.nation }}
                            <p>
                                <small id="err_nation"></small>
                            </p>
                            </p>

                            <p>
                                <span>电子邮箱</span>
                                {{ tfm.email }}
                            <p>
                                <small id="err_email"></small>
                            </p>
                            </p>
                            <p>
                                <span>电话</span>
                                {{ tfm.telephone }}
                            <p>
                                <small id="err_telephone"></small>
                            </p>

                            </p>

                            <p>
                                <span>QQ</span>
                                {{ tfm.qq }}
                            <p>
                                <small id="err_qq"></small>
                            </p>
                            </p>


                        </div>
                    </form>
                    <div class="modal-footer">
                        <small><b id="err_msg2" style="float: left"></b></small>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="editT()">确定</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">修改学生资料</h3>
                </div>
                <div class="modal-body">
                    <form method="post" id="edit-sfm">
                        <div class="form-group">

                            {% csrf_token %}
                            <p>
                                <span>姓名</span>
                                {{ sfm.name }}
                            <p>
                                <small id="err_name2"></small>
                            </p>
                            </p>

                            <p>

                                <span>工号</span>
                                {{ sfm.username }}
                            <p>
                                <small id="err_username2"></small>
                            </p>
                            </p>

                            <p>
                                <span>性别</span>
                                {{ sfm.gender }}
                            <p>
                                <small id="err_gender2"></small>
                            </p>
                            </p>

                            <p>
                                <span>所属学院</span>
                                {{ sfm.college }}
                            <p>
                                <small id="err_college2"></small>
                            </p>
                            </p>

                            <p>
                                <span>年级</span>
                                {{ sfm.grade }}
                            <p>
                                <small id="err_grade2"></small>
                            </p>
                            </p>
                            <p>
                                <span>籍贯</span>
                                {{ sfm.province }}
                            <p>
                                <small id="err_province2"></small>
                            </p>
                            </p>
                            <p>
                                <span>身份证号</span>
                                {{ sfm.card_id }}
                            <p>
                                <small id="err_card_id2"></small>
                            </p>
                            </p>
                            <p>
                                <span>民族</span>
                                {{ sfm.nation }}
                            <p>
                                <small id="err_nation2"></small>
                            </p>
                            </p>

                            <p>
                                <span>电子邮箱</span>
                                {{ sfm.email }}
                            <p>
                                <small id="err_email2"></small>
                            </p>
                            </p>
                            <p>
                                <span>电话</span>
                                {{ sfm.telephone }}
                            <p>
                                <small id="err_telephone2"></small>
                            </p>

                            </p>

                            <p>
                                <span>QQ</span>
                                {{ sfm.qq }}
                            <p>
                                <small id="err_qq2"></small>
                            </p>
                            </p>


                        </div>
                    </form>
                    <div class="modal-footer">
                        <small><b id="err_msg2" style="float: left"></b></small>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="editS()">确定</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">修改学生资料</h3>
                </div>
                <div class="modal-body">
                    <form method="post" id="add-sfm">
                        <div class="form-group">

                            {% csrf_token %}
                            <p>
                                <span>姓名</span>
                                {{ sfm.name }}
                            <p>
                                <small id="err_name3"></small>
                            </p>
                            </p>

                            <p>

                                <span>工号</span>
                                {{ sfm.username }}
                            <p>
                                <small id="err_username3"></small>
                            </p>
                            </p>

                            <p>
                                <span>性别</span>
                                {{ sfm.gender }}
                            <p>
                                <small id="err_gender3"></small>
                            </p>
                            </p>

                            <p>
                                <span>所属学院</span>
                                {{ sfm.college }}
                            <p>
                                <small id="err_college3"></small>
                            </p>
                            </p>

                            <p>
                                <span>年级</span>
                                {{ sfm.grade }}
                            <p>
                                <small id="err_grade3"></small>
                            </p>
                            </p>
                            <p>
                                <span>籍贯</span>
                                {{ sfm.province }}
                            <p>
                                <small id="err_province3"></small>
                            </p>
                            </p>
                            <p>
                                <span>身份证号</span>
                                {{ sfm.card_id }}
                            <p>
                                <small id="err_card_id3"></small>
                            </p>
                            </p>
                            <p>
                                <span>民族</span>
                                {{ sfm.nation }}
                            <p>
                                <small id="err_nation3"></small>
                            </p>
                            </p>

                            <p>
                                <span>电子邮箱</span>
                                {{ sfm.email }}
                            <p>
                                <small id="err_email3"></small>
                            </p>
                            </p>
                            <p>
                                <span>电话</span>
                                {{ sfm.telephone }}
                            <p>
                                <small id="err_telephone3"></small>
                            </p>

                            </p>

                            <p>
                                <span>QQ</span>
                                {{ sfm.qq }}
                            <p>
                                <small id="err_qq3"></small>
                            </p>
                            </p>


                        </div>
                    </form>
                    <div class="modal-footer">
                        <small><b id="err_msg2" style="float: left"></b></small>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="addS()">确定</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addTeacher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">新增教师</h3>
                </div>
                <div class="modal-body">
                    <form method="post" id="add-fm">
                        <div class="form-group">
                            {% csrf_token %}
                            <p>
                                <span>姓名</span>
                                {{ tfm.name }}
                            <p>
                                <small id="err_name"></small>
                            </p>
                            </p>

                            <p>


                                <span>工号</span>
                                {{ tfm.username }}
                            <p>
                                <small id="err_username"></small>
                            </p>
                            </p>

                            <p>
                                <span>性别</span>
                                {{ tfm.gender }}
                            <p>
                                <small id="err_gender"></small>
                            </p>
                            </p>

                            <p>
                                <span>所属学院</span>
                                {{ tfm.college }}
                            <p>
                                <small id="err_college"></small>
                            </p>
                            </p>

                            <p>
                                <span>职位</span>
                                {{ tfm.place }}
                            <p>
                                <small id="err_place"></small>
                            </p>
                            </p>
                            <p>
                                <span>籍贯</span>
                                {{ tfm.province }}
                            <p>
                                <small id="err_province"></small>
                            </p>
                            </p>
                            <p>
                                <span>身份证号</span>
                                {{ tfm.card_id }}
                            <p>
                                <small id="err_card_id"></small>
                            </p>
                            </p>
                            <p>
                                <span>民族</span>
                                {{ tfm.nation }}
                            <p>
                                <small id="err_nation"></small>
                            </p>
                            </p>

                            <p>
                                <span>电子邮箱</span>
                                {{ tfm.email }}
                            <p>
                                <small id="err_email"></small>
                            </p>
                            </p>
                            <p>
                                <span>电话</span>
                                {{ tfm.telephone }}
                            <p>
                                <small id="err_telephone"></small>
                            </p>

                            </p>

                            <p>
                                <span>QQ</span>
                                {{ tfm.qq }}
                            <p>
                                <small id="err_qq"></small>
                            </p>
                            </p>

                        </div>
                    </form>
                    <div class="modal-footer">
                        <small><b id="err_msg2" style="float: left"></b></small>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="addT()">确定</button>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <script>
        $("#nav5").addClass("active");

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        var i = $(".tno-setting input").attr("readonly", true);
        var j = $(".sno-setting input").attr("readonly", true);

        function delCourse() {
            // 进入子iframe中的方法
            $("iframe")[0].contentWindow.excuteDel();
        }

        function cancelCourse() {
            $("#courseDel").modal("hide");
        }

        function delNews() {
            // 进入子iframe中的方法
            $("iframe")[0].contentWindow.excuteDel();
        }

        function cancelNews() {
            $("#newsDel").modal("hide");
        }



        function editT() {
            $("#err_name").html("")
            $("#err_username").html("")
            $("#err_gender").html("")
            $("#err_college").html("")
            $("#err_place").html("")
            $("#err_province").html("")
            $("#err_card_id").html("")
            $("#err_nation").html("")
            $("#err_email").html("")
            $("#err_telephone").html("")
            $("#err_qq").html("")
            $.ajax({
                url: "/m_edit_teacher",
                type: "POST",
                dataType: "json",
                data: $("#edit-fm").serialize(),
                success: function (arg) {
                    if (arg.status) {
                        $("#editTeacher").modal("hide");
                        $('iframe').attr('src', $('iframe').attr('src'));
                    } else {


                        $("#err_name").html(arg.msg.name).css("color", "red");
                        $("#err_username").html(arg.msg.username).css("color", "red");
                        $("#err_gender").html(arg.msg.gender).css("color", "red");
                        $("#err_college").html(arg.msg.college).css("color", "red");
                        $("#err_place").html(arg.msg.place).css("color", "red");
                        $("#err_province").html(arg.msg.province).css("color", "red");
                        $("#err_card_id").html(arg.msg.card_id).css("color", "red");
                        $("#err_nation").html(arg.msg.nation).css("color", "red");
                        $("#err_email").html(arg.msg.email).css("color", "red");
                        $("#err_telephone").html(arg.msg.telephone).css("color", "red");
                        $("#err_qq").html(arg.msg.qq).css("color", "red");

                    }
                }
            })
        }


        function editS() {
            $("#err_name2").html("")
            $("#err_username2").html("")
            $("#err_gender2").html("")
            $("#err_college2").html("")
            $("#err_grade2").html("")
            $("#err_province2").html("")
            $("#err_card_id2").html("")
            $("#err_nation2").html("")
            $("#err_email2").html("")
            $("#err_telephone2").html("")
            $("#err_qq2").html("")
            $.ajax({
                url: "/m_edit_student",
                type: "POST",
                dataType: "json",
                data: $("#edit-sfm").serialize(),
                success: function (arg) {
                    if (arg.status) {
                        $("#editTeacher").modal("hide");
                        $('iframe').attr('src', $('iframe').attr('src'));
                    } else {

                        $("#err_name2").html(arg.msg.name).css("color", "red");
                        $("#err_username2").html(arg.msg.username).css("color", "red");
                        $("#err_gender2").html(arg.msg.gender).css("color", "red");
                        $("#err_college2").html(arg.msg.college).css("color", "red");
                        $("#err_grade2").html(arg.msg.grade).css("color", "red");
                        $("#err_province2").html(arg.msg.province).css("color", "red");
                        $("#err_card_id2").html(arg.msg.card_id).css("color", "red");
                        $("#err_nation2").html(arg.msg.nation).css("color", "red");
                        $("#err_email2").html(arg.msg.email).css("color", "red");
                        $("#err_telephone2").html(arg.msg.telephone).css("color", "red");
                        $("#err_qq2").html(arg.msg.qq).css("color", "red");

                    }
                }
            })
        }

        function m_course() {
            $("#left-nav1").addClass("press");
            $("#left-nav2").removeClass("press");
            $("#left-nav3").removeClass("press");
            $("#left-nav4").removeClass("press");
            $("iframe").attr("src", "/m_course");


        }

        function m_news() {
            $("#left-nav2").addClass("press");
            $("#left-nav1").removeClass("press");
            $("#left-nav3").removeClass("press");
            $("#left-nav4").removeClass("press");
            $("iframe").attr("src", "/m_news");

        }

        function m_teacher() {
            $("#left-nav3").addClass("press");
            $("#left-nav1").removeClass("press");
            $("#left-nav2").removeClass("press");
            $("#left-nav4").removeClass("press");
            $("iframe").attr("src", "/m_teacher");

        }

        function m_student() {
            $("#left-nav4").addClass("press");
            $("#left-nav1").removeClass("press");
            $("#left-nav2").removeClass("press");
            $("#left-nav3").removeClass("press");
            $("iframe").attr("src", "/m_student");

        }

        function addT() {
            $("#err_name").html("")
            $("#err_username").html("")
            $("#err_gender").html("")
            $("#err_college").html("")
            $("#err_place").html("")
            $("#err_province").html("")
            $("#err_card_id").html("")
            $("#err_nation").html("")
            $("#err_email").html("")
            $("#err_telephone").html("")
            $("#err_qq").html("")
            $.ajax({
                url: '/m_add_teacher',
                type: "POST",
                dataType: "JSON",
                data: $("#add-fm").serialize(),
                success: function (arg) {
                    if (arg.status) {
                        $("#addTeacher").modal("hide");
                        // 子页面刷新
                        window.location.reload()

                        {#$('iframe').attr('src', $('iframe').attr('src'));#}


                    } else {
                        console.log("失败");
                        $("#err_name").html(arg.msg.name).css("color", "red");
                        $("#err_username").html(arg.msg.username).css("color", "red");
                        $("#err_gender").html(arg.msg.gender).css("color", "red");
                        $("#err_college").html(arg.msg.college).css("color", "red");
                        $("#err_place").html(arg.msg.place).css("color", "red");
                        $("#err_province").html(arg.msg.province).css("color", "red");
                        $("#err_card_id").html(arg.msg.card_id).css("color", "red");
                        $("#err_nation").html(arg.msg.nation).css("color", "red");
                        $("#err_email").html(arg.msg.email).css("color", "red");
                        $("#err_telephone").html(arg.msg.telephone).css("color", "red");
                        $("#err_qq").html(arg.msg.qq).css("color", "red");
                    }
                }
            })
        }


        function addS() {
            $("#err_name2").html("")
            $("#err_username3").html("")
            $("#err_gender3").html("")
            $("#err_college3").html("")
            $("#err_grade3").html("")
            $("#err_province3").html("")
            $("#err_card_id3").html("")
            $("#err_nation3").html("")
            $("#err_email3").html("")
            $("#err_telephone3").html("")
            $("#err_qq3").html("")
            $.ajax({
                url: "/m_add_student",
                type: "POST",
                dataType: "json",
                data: $("#add-sfm").serialize(),
                success: function (arg) {
                    if (arg.status) {
                        $("#addStudent").modal("hide");
                        $('iframe').attr('src', $('iframe').attr('src'));
                    } else {
                        console.log(arg.msg)

                        $("#err_name3").html(arg.msg.name).css("color", "red");
                        $("#err_username3").html(arg.msg.username).css("color", "red");
                        $("#err_gender3").html(arg.msg.gender).css("color", "red");
                        $("#err_college3").html(arg.msg.college).css("color", "red");
                        $("#err_grade3").html(arg.msg.grade).css("color", "red");
                        $("#err_province3").html(arg.msg.province).css("color", "red");
                        $("#err_card_id3").html(arg.msg.card_id).css("color", "red");
                        $("#err_nation3").html(arg.msg.nation).css("color", "red");
                        $("#err_email3").html(arg.msg.email).css("color", "red");
                        $("#err_telephone3").html(arg.msg.telephone).css("color", "red");
                        $("#err_qq3").html(arg.msg.qq).css("color", "red");

                    }
                }
            })
        }

    </script>
{% endblock %}