{% extends 'infor_base.html' %}

{% block index %}
    <li><a href="/s/index.html"><i class="fa fa-indent" aria-hidden="true"></i> 首页</a></li>
    <li><a href="s_information.html"><i class="fa fa-user" aria-hidden="true"></i> 个人中心</a></li>

{% endblock %}

{% block table %}
    <tr>
        <th>学号</th>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <th>年级</th>
        <td>{{ user.grade.name }}</td>
    </tr>
{% endblock %}
{% block edit-fm %}
    <p class="sno-setting">
        <span>学号</span>
        <input name="no" type="text" class="form-control" value="{{ user.username }}" readonly>

        <br>
        <small id="errNo3"></small>
    </p>

    <p>

    <p>
        <span>年级</span>
        <input type="text" class="form-control" value="{{ user.grade.name }}" readonly>

        <br>
        <small id="errPos3"></small>
    </p>
{% endblock %}