{% extends "s_base.html" %}
{% block title %}
    已选课程
{% endblock %}

{% block  head %}
    <style>
        .content {
            min-height: 500px;
        }

        #appfm p {
            text-align: center;
            font-size: 20px;
            color: rgb(93, 95, 97);
        }

        #appfm p small {
            text-align: center;
            color: red;
        }

        .table-div {
            padding-top: 10px;
        }

        table thead {
            font-size: 15px;
        }

        table tbody {
            font-size: 10px;
        }

        td a {
            text-decoration-line: none;
            color: black;
        }




    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="content">
            <div class="table-div">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>课程号</th>
                        <th>课程名</th>
                        <th>课程类型</th>
                        <th>授课学院</th>
                        <th>任课教师</th>
                        <th>教师联系电话</th>
                        <th>上课地点</th>
                        <th>上课时间</th>
                        <th>学分</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if selected_courses %}
                        {% for c in selected_courses %}
                            <tr class="trid" cno="{{ c.course_no }}"
                                cstatus="{{ c.course_status }}"

                                style="height: 50px"
                            >
                                <td>{{ c.course_no }}</td>
                                <td>{{ c.course_name }}</td>
                                <td>{{ c.get_course_type_display }}</td>
                                <td>{{ c.get_course_college_display }}</td>
                                <td>{{ c.course_teacher }}</td>
                                <td>{{ c.course_teacher.telephone }}</td>
                                <td>{{ c.get_course_classroom_display }}</td>
                                <td>{{ c.get_course_week_display }} {{ c.get_course_time_display }}</td>
                                <td>{{ c.course_credit }}</td>
                                <td><a href="" onclick="quit(this)"><i class="fa fa-times-circle fa-2x"
                                                                       aria-hidden="true" title="退选该课程"></i></a></td>

                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="10"><h1 style="color: silver;text-align: center">你还没有选择课程，请先去<a
                                    href="select.html">选择一些课程</a></h1></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                {% include 'include/paginatior.html' %}
            </div>
        </div>
    </div>
    </div>




    <script>

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        $("#nav3").addClass("active");


        function quit(t) {
            var cno = $(t).parent().parent().attr("cno");
            var cstatus = $(t).parent().parent().attr("cstatus");
            if (cstatus == 5) {
                alert("该课程已经关闭，无法退课，请联系任课老师！")
            }
            else if (cstatus == 4) {
                $.ajax({
                    url: 'quit',
                    dataType: 'JSON',
                    type: 'POST',
                    data: {'cno': cno},
                    success: function (arg) {
                        if (arg.status) {
                            alert("退课成功")
                        }
                    }
                })
            }

        }


    </script>
{% endblock %}