{% extends "t_base.html" %}
{% block title %}
    已申请课程
{% endblock %}

{% block  head %}
    <style>
        .content {
            min-height: 500px;
        }

        #appfm p {
            text-align: center;
            font-size: 20px;
            color: rgb(93, 95, 97);
        }

        #appfm p small {
            text-align: center;
            color: red;
        }

        .table-div {
            padding-top: 10px;
        }

        .pass {
            background-color: darkseagreen;
        }

        .nopass {
            background-color: red;
        }

        .online {
            background-color: lawngreen;
        }

        .offline {
            background-color: lightgray;
        }
        table thead {
            font-size: 15px;
        }

        table tbody {
            font-size: 10px;
        }

        td a {
            text-decoration-line: none;
            color: black;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="content">
            <div class="table-div">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>课程号</th>
                        <th>课程名</th>
                        <th>课程类型</th>
                        <th>授课学院</th>
                        <th>上课地点</th>
                        <th>上课时间</th>
                        <th>学分</th>
                        <th>申请日期</th>
                        <th>课程上线时间</th>
                        <th>课程关闭时间</th>
                        <th>选课情况</th>
                        <th>审核状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if applied_course_list %}
                        {% for c in applied_course_list %}
                            <tr class="trid" cno="{{ c.course_no }}"
                                cname="{{ c.course_name }}"
                                cstatus="{{ c.course_status }}"
                                style="height: 50px"
                            >
                                <td>{{ c.course_no }}</td>
                                <td>{{ c.course_name }}</td>
                                <td>{{ c.get_course_type_display }}</td>
                                <td>{{ c.get_course_college_display }}</td>
                                <td>{{ c.get_course_classroom_display }}</td>
                                <td>{{ c.get_course_week_display }} {{ c.get_course_time_display }}</td>
                                <td>{{ c.course_credit }}</td>
                                <td>{{ c.course_applied_time }}</td>
                                {% if c.course_online_time %}
                                    <td>{{ c.course_online_time }}</td>
                                {% else %}
                                    <td> ——</td>
                                {% endif %}
                                {% if c.course_close_time %}
                                    <td>{{ c.course_close_time }}</td>
                                {% else %}
                                    <td> ——</td>
                                {% endif %}

                                <td>{{ c.course_choosed_student }} / {{ c.course_total_people }}</td>

                                {% if c.course_status == 1 %}
                                    <td>待审批</td>
                                    <td> ——</td>
                                {% elif c.course_status == 2 %}
                                    <td>审批通过</td>


                                    <td>&nbsp;<a href=""> <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"
                                                             title="上线课程"
                                                             onclick="online(this)"></i></a></td>

                                {% elif c.course_status == 3 %}
                                    <td>审批未通过</td>
                                    <td> ——</td>
                                {% elif c.course_status == 4 %}
                                    <td>审批通过已上线</td>
                                    <td style="width: 10%;">&nbsp;<a href=""> <i class="fa fa-plus-square fa-2x"
                                                                                 aria-hidden="true" title="课程扩容"
                                                                                 onclick="extend(this)"></i></a>
                                        &nbsp;&nbsp;
                                        <a href=""><i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"
                                                      title="下线该课程" onclick="offline(this)"></i></a>

                                        &nbsp;&nbsp;<a href=""><i class="fa fa-table fa-2x" aria-hidden="true"></i></a>
                                    </td>
                                {% elif c.course_status == 5 %}
                                    <td>课程已下线</td>
                                    <td>
                                        <a href=""> <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"
                                                       title="上线课程"
                                                       onclick="online(this)"></i></a>

                                        &nbsp;&nbsp;<a href=""><i class="fa fa-table fa-2x" aria-hidden="true"></i></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="10"><h1 style="color: silver;text-align: center">目前暂为申请新课程</h1></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="extendForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">课程扩容设置</h3>
                </div>
                <div class="modal-body">
                    <form id="extendfm" novalidate>
                        <div class="form-group">
                            <p>
                                <span>增加课程名额</span>
                                {{ obj.people }}&nbsp;人
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <span>延长课程关闭时间</span>
                                {{ obj.days }}&nbsp;天
                            </p>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <small><b id="error_people" style="float: left;color: red"></b></small>

                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="extBtn">申请</button>
                </div>
            </div>
        </div>
    </div>


    <script>

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        $("#nav3").addClass("active");
        $(function () {
            ChangeTableEvent();
        })

        function ChangeTableEvent() {
            var list = $(".trid")

            for (var i = 0; i < list.length; i++) {
                if (list.eq(i).attr("cstatus") == 2) {
                    $(".trid").eq(i).addClass("pass");
                } else if (list.eq(i).attr("cstatus") == 3) {
                    $(".trid").eq(i).addClass("nopass");
                }
                else if (list.eq(i).attr("cstatus") == 4) {
                    $(".trid").eq(i).addClass("online");
                }
                else if (list.eq(i).attr("cstatus") == 5) {
                    $(".trid").eq(i).addClass("offline");
                }
            }

        }

        function online(t) {
            var cno = $(t).parent().parent().parent().attr("cno");
            $.ajax({
                url: 'online',
                type: 'POST',
                dataType: 'JSON',
                data: {"cno": cno},
                success: function (arg) {
                    if (arg.status) {
                        window.location.reload()
                    }
                }
            })
        }

        function offline(t) {
            var cno = $(t).parent().parent().parent().attr("cno");
            $.ajax({
                url: 'offline',
                type: 'POST',
                dataType: 'JSON',
                data: {"cno": cno},
                success: function (arg) {
                    if (arg.status) {
                        window.location.reload()
                    }

                }

            })

        }

        function extend(t) {

            $('#extendForm').modal('show');
            var cno = $(t).parent().parent().parent().attr("cno")
            $("#extBtn").click(function () {
                var data = $.param({'csrfmiddlewaretoken': '{{ csrf_token }}'}) + "&" + $.param({"cno": cno}) + "&" + $("#extendfm").serialize();
                console.log(data);
                $.ajax({
                    url: 'extend',
                    type: 'POST',
                    dataType: 'JSON',
                    data: data,
                    success: function (arg) {
                        if (arg.status) {
                            window.location.reload()
                        }
                        else {
                            $("#error_people").html(arg.msg.people)
                        }

                    }
                })

            })

        }

    </script>
{% endblock %}